<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Histologia - {{page_name}}</title>
    <meta http-equiv="Content-Language" content="pt-br" charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css')}}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='Microscope_icon.png')}}" />

</head>

<body>
    <div class="container">
        <div class="item-a">
            <img src="{{ url_for('static', filename='images/LogoUSP.png')}}" alt="Logo USP">
        </div>
        <div class="item-b">
            <div class="item-b1"><a {% if page_name == "Home" %} class="active"{% endif %} href='./'>Home</a></div>
            <div class="item-b2"><a {% if page_name == "Navegar" %} class="active"{% endif %} href='./browse'>Navegar</a></div>
            <div class="item-b3"><a {% if page_name in ["Contribua", "Dashboard"] %} class="active"{% endif %}href='./contribute'>Contribua</a></div>
            <div class="item-b4"><a {% if page_name == "Ajuda" %} class="active"{% endif %}href='./help'>Ajuda</a></div>
        </div>
        <div class="item-c">
            {% block content %} {% endblock %}
        </div>
    </div>
    <div class="item-d">Guia Histológico {{ current_year }}  |  Versão {{ version }}</div>

    
</body>
