{% extends './parents/main.html' %}

{% block content %}
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> -->

<script src="{{url_for('static', filename='post.js')}}"></script>

<div class="conteudo">
    <header>
        <h1>texto e imagem</h1>
    </header>
    <section>
        <h2>mais texto e img</h2>
        <div class="flex-container flex-pos">
            <!-- 05 -->
            <div class="item">
                <h2>teste 05</h2>
                <div class="miniatura">
<!-- com request - nao deu certo -->
                    <!-- <form method="POST">
                        <input name="imgPath" id="imgPath"  type="hidden" value="imgsPff/L01PeleGrossaCoximdeGatoL2HE40X.pff">
                        <input name="xmlPath" type="hidden" value="xml/L01PeleGrossaCoximdeGatoL2HE40X-annotations.xml">
                        <input name="imgName" type="hidden" value="Pele Grossa">
                        <input name="htmPath" type="hidden" value="static/html/L01PeleGrossaCoximdeGatoL2HE40.htm">
                        <input type="submit" >
                            
                    </form> -->
                    
                    <!-- <form method="POST">
                        <input name="text" id="img" type="hidden" value="imgsPff/L01PeleGrossaCoximdeGatoL2HE40X.pff">
                        <input type="submit">
                    </form> -->
                    <!-- <form action="{{ url_for('teste05') }}" method="POST">
                        <a href="./teste05" onclick="enviarDados()">
                            <img src="{{url_for('static', filename='imgsMini/L01PeleGrossaCoximDeGatoL2HE40X.jpg')}}"
                            alt="" width="60%" height="60%">
                        </a>
                        <h6>não deu certo</h6>
                    </form> -->
<!-- com request - nao deu certo -->
                    <form action="{{ url_for('teste05') }}" method="POST">
                        {{ form_img.csrf_token }}
                        {{ form_img.img_path(value="imgsPff/L01PeleGrossaCoximdeGatoL2HE40X.pff") }}
                        {{ form_img.xml_path(value="xml/L01PeleGrossaCoximdeGatoL2HE40X-annotations.xml") }}                        
                        {{ form_img.img_name(value="Pele Grossa") }}                        
                        {{ form_img.htm_path(value="static/html/L01PeleGrossaCoximdeGatoL2HE40.htm") }}
                        <br>
                        <button type="submit">
                            <img src="{{url_for('static', filename='imgsMini/L01PeleGrossaCoximDeGatoL2HE40X.jpg')}}"
                            alt="" width="60%" height="60%">
                        </button>
                    </form>
                    <form action="{{ url_for('teste05') }}" method="POST">
                        <h6>deu certo</h6>
                        {{ form_img.csrf_token }}
                        {{ form_img.img_path(value="imgsPff/L60PelefinaHE40XB.pff") }}
                        {{ form_img.xml_path(value="xml/L60PelefinaHE40XB-annotations.xml") }}                        
                        {{ form_img.img_name(value="L60- Pele fina") }}                        
                        {{ form_img.htm_path(value="static/html/L60PeleFina.htm") }}
                        <br>
                        <button type="submit">
                            <img src="{{url_for('static', filename='imgsMini/L60PeleFinaHE40XB.jpg')}}"
                            alt="" width="60%" height="60%">
                        </button>
                        <h6>deu certo</h6>
                    </form>
                </div>
                <h2>teste 05</h2>
                <h3>link</h3>
            </div>
            <!-- 04 -->
            <div class="item">
                <div class="miniatura">
                    <form >                    
                        <a href="./viewportTeste00" onclick="enviarDados()">
                            
                            <img src="{{url_for('static', filename='imgsMini/L01PeleGrossaCoximDeGatoL2HE40X.jpg')}}"
                                alt="" width="60%" height="60%">
                            <input id="imgPath" name="zImagePath" type="hidden"
                                value="imgsPff/L01PeleGrossaCoximdeGatoL2HE40X.pff">
                            <input id="xmlPath" name="zAnnotationPath" type="hidden"
                                value="xml/L01PeleGrossaCoximdeGatoL2HE40X-annotations.xml">
                            <input id="imgName" name="zImageName" type="hidden" value="Pele Grossa">
                            <input id="htmPath" name="zhtmPath" type="hidden"
                                value="static/html/L01PeleGrossaCoximdeGatoL2HE40.htm">

                        </a>
                    </form>
                </div>
                <h2>teste 04</h2>
                <h3>link</h3>
            </div>
            <!-- <div id="successAlert" class="alert alert-success" role="alert" style="display:none;"></div>
            <div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div> -->
            <!-- <script>
                $(document).ready(function () {
                    $('#submit').click(function () {
                        var formdata = serialize();
                        $.ajax({
                            type: 'POST',
                            contentType: 'application/json',
                            data: JSON.stringify(formdata),
                            dataType: 'json',
                            url: 'http://127.0.0.1:5000/viewportTeste00',
                            success: function (e) {
                                console.log(e);
                                window.location = "http://127.0.0.1:5000/viewportTeste00";
                            },
                            error: function (error) {
                                console.log(error);
                            }
                        });
                    });
                });
            </script> -->

            <!-- 
            <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
            <script>
                function myfunction() {
                    const imgUrl = document.getElementById("imgPath").value;
                    const xmlUrl = document.getElementById("xmlPath").value;
                    const imgNome = document.getElementById("imgName").value;
                    const htmlUrl = document.getElementById("htmPath").value;

                    const dict_values = { imgUrl, xmlUrl, imgNome, htmlUrl } //Pass the javascript variables to a dictionary.
                    const s = JSON.stringify(dict_values); // Stringify converts a JavaScript object or value to a JSON string
                    console.log(s); // Prints the variables to console window, which are in the JSON format
                    window.alert(s)
                    $.ajax({
                        url: "/viewportTeste00",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify(s)
                    });

                }
            </script> -->

            <!-- 03 -->
            <div class="item">
                <div class="miniatura">
                    <form action="" method="POST">
                        <button type="submit" value="VALUE1" name="action1">
                            <img src="{{url_for('static', filename='imgsMini/L01PeleGrossaCoximDeGatoL2HE40X.jpg')}}"
                                alt="" width="60%" height="60%">
                        </button>
                    </form>
                </div>
                <p>L01PeleGrossaCoximDeGatoL2HE40X</p>
                <h3>link</h3>
            </div>

            <!-- 02  CODIGO ORIGINAL-->
            <div class="item">
                <div class="miniatura">
                    <form action="" method="POST">
                        <button type="submit" value="VALUE2" name="action2">
                            <img src="{{url_for('static', filename='imgsMini/L60PeleFinaHE40XB.jpg')}}" alt=""
                                class="imagem" width="60%" height="60%">
                        </button>
                    </form>
                </div>
                <p>L60PeleFinaHE40XB</p>
                <h3>link</h3>
            </div>



            <!-- 00 - CÓDIGO ABAIXO FUNCIONA PORQUE ANTES O viewport ESTAVA CONFIGURADO PARA ABRIR ESTA IMG -->
            <div class="item">
                <div class="miniatura">
                    <form>
                        <a href="./viewportTeste00" onclick="dadosDeVisualizacao()">

                            <img src="{{url_for('static', filename='imgsMini/L60PeleFinaHE.jpg')}}" alt=""
                                class="imagem" width="60%" height="60%">
                            <input id="imgPath" name="zImagePath" type="hidden" value="imgsPff/L60PelefinaHE40XB.pff">
                            <input id="xmlPath" name="zAnnotationPath" type="hidden"
                                value="xml/L60PelefinaHE40XB-annotations.xml">
                            <input id="imgName" name="zImageName" type="hidden" value="L60- Pele fina">

                        </a>
                    </form>
                </div>
                <h2>teste 00</h2>
                <h3>link</h3>
            </div>
            <div class="item">
                <div class="miniatura">
                    <a href="">
                        <img src="{{url_for('static', filename='imgsMini/L60PeleFinaHE40XB.jpg')}}" alt="" width="60%"
                            height="60%">
                    </a>
                </div>
                <h2>texto</h2>
                <h3>link</h3>
            </div>

            <div class="item">
                <div class="miniatura">
                    <a href="">
                        <img src="{{url_for('static', filename='imgsMini/Adrenal140x.jpg')}}" alt="" width="60%"
                            height="60%">
                    </a>
                </div>
                <h2>texto</h2>
                <h3>link</h3>
            </div>

            <div class="item">
                <div class="miniatura">
                    <a href="">
                        <img src="{{url_for('static', filename='imgsMini/B2GlicogenioFigadoPAS.jpg')}}" alt=""
                            width="60%" height="60%">
                    </a>
                </div>
                <h2>texto</h2>
                <h3>link</h3>
            </div>
            <div class="item">
                <div class="miniatura">
                    <a href="">
                        <img src="{{url_for('static', filename='imgsMini/L01PeleGrossaBHE.jpg')}}" alt="" width="60%"
                            height="60%">
                    </a>
                </div>
                <h2>texto</h2>
                <h3>link</h3>
            </div>
            <div class="item">
                <div class="miniatura">
                    <a href="">
                        <img src="{{url_for('static', filename='imgsMini/L01PeleGrossaCoximDeGatoL2HE40X.jpg')}}" alt=""
                            width="60%" height="60%">
                    </a>
                </div>
                <h2>texto</h2>
                <h3>link</h3>
            </div>
            <div class="item">
                <div class="miniatura">
                    <a href="">
                        <img src="{{url_for('static', filename='imgsMini/L02BTraqueiaEEsofagoHE.jpg')}}" alt=""
                            width="60%" height="60%">
                    </a>
                </div>
                <h2>texto</h2>
                <h3>link</h3>
            </div>
            <div class="item">
                <div class="miniatura">
                    <a href="">
                        <img src="{{url_for('static', filename='imgsMini/L02LinguaAzulDeToluidina.jpg')}}" alt=""
                            width="60%" height="60%">
                    </a>
                </div>
                <h2>texto</h2>
                <h3>link</h3>
            </div>
            <div class="item">
                <div class="miniatura">
                    <a href="">
                        <img src="{{url_for('static', filename='imgsMini/L4OvarioEUteroHE40X.jpg')}}" alt="" width="60%"
                            height="60%">
                    </a>
                </div>
                <h2>texto</h2>
                <h3>link</h3>
            </div>
            <div class="item">
                <div class="miniatura">
                    <a href="">
                        <img src="{{url_for('static', filename='imgsMini/L04OvarioEUteroL1HE40x.jpg')}}" alt=""
                            width="60%" height="60%">
                    </a>
                </div>
                <h2>texto</h2>
                <h3>link</h3>
            </div>
            <div class="item">
                <div class="miniatura">
                    <a href="">
                        <img src="{{url_for('static', filename='imgsMini/L05BTransicaoEstomagoEDuodenoDeGatoL140x.jpg')}}"
                            alt="" width="60%" height="60%">
                    </a>
                </div>
                <h2>texto</h2>
                <h3>link</h3>
            </div>
            <div class="item">
                <div class="miniatura">
                    <a href="">
                        <img src="{{url_for('static', filename='imgsMini/L05TransicaoEstomagoEDuodenoL3001.jpg')}}"
                            alt="" width="60%" height="60%">
                    </a>
                </div>
                <h2>texto</h2>
                <h3>link</h3>
            </div>
            <div class="item">
                <div class="miniatura">
                    <a href="">
                        <img src="{{url_for('static', filename='imgsMini/L6AParotidaHEL4.jpg')}}" alt="" width="60%"
                            height="60%">
                    </a>
                </div>
                <h2>texto</h2>
                <h3>link</h3>
            </div>
            <div class="item">
                <div class="miniatura">
                    <a href="">
                        <img src="{{url_for('static', filename='imgsMini/L9GranulomaPeriapicalL3.jpg')}}" alt=""
                            width="60%" height="60%">
                    </a>
                </div>
                <h2>texto</h2>
                <h3>link</h3>
            </div>
            <div class="item">
                <div class="miniatura">
                    <a href="">
                        <img src="{{url_for('static', filename='imgsMini/L11ArteriaDeGrandeCalibroL2Fucsina.jpg')}}"
                            alt="" width="60%" height="60%">
                    </a>
                </div>
                <h2>texto</h2>
                <h3>link</h3>
            </div>
            <div class="item">
                <div class="miniatura">
                    <a href="">
                        <img src="{{url_for('static', filename='imgsMini/L11VasoDeGrandeCalibreVerhoff.jpg')}}" alt=""
                            width="60%" height="60%">

                    </a>
                </div>
                <h2>texto</h2>
                <h3>link</h3>
            </div>
            <div class="item">
                <div class="miniatura">
                    <a href="">
                        <img src="{{url_for('static', filename='imgsMini/L12PulmaoBacoLinfonodoL2ImpregnacaoArgentica.jpg')}}"
                            alt="" width="60%" height="60%">
                    </a>
                </div>
                <h2>texto</h2>
                <h3>link</h3>
            </div>
            <div class="item">
                <div class="miniatura">
                    <a href="">
                        <img src="{{url_for('static', filename='imgsMini/L14ATraqueiaEEpigloteDeCaoL1FucsinaResorcina.jpg')}}"
                            alt="" width="60%" height="60%">
                    </a>
                </div>
                <h2>texto</h2>
                <h3>link</h3>
            </div>
            <div class="item">
                <div class="miniatura">
                    <a href="">
                        <img src="{{url_for('static', filename='imgsMini/L14TraqueiaEEpigloteVerhoffL2.jpg')}}" alt=""
                            width="60%" height="60%">
                    </a>
                </div>
                <h2>texto</h2>
                <h3>link</h3>
            </div>
            <div class="item">
                <div class="miniatura">
                    <a href="">
                        <img src="{{url_for('static', filename='imgsMini/L18AFetoDeRatoTricromicoDeMasson40X.jpg')}}"
                            alt="" width="60%" height="60%">
                    </a>
                </div>
                <h2>texto</h2>
                <h3>link</h3>
            </div>
            <div class="item">
                <div class="miniatura">
                    <a href="">
                        <img src="{{url_for('static', filename='imgsMini/L23Coracao2HE20x.jpg')}}" alt="" width="60%"
                            height="60%">
                    </a>
                </div>
                <h2>texto</h2>
                <h3>link</h3>
            </div>
            <div class="item">
                <div class="miniatura">
                    <a href="">
                        <img src="{{url_for('static', filename='imgsMini/L25BCerebroECerebelo.jpg')}}" alt=""
                            width="60%" height="60%">
                    </a>
                </div>
                <h2>texto</h2>
                <h3>link</h3>
            </div>
            <div class="item">
                <div class="miniatura">
                    <a href="">
                        <img src="{{url_for('static', filename='imgsMini/L28AVertebraL3HE.jpg')}}" alt="" width="60%"
                            height="60%">
                    </a>
                </div>
                <h2>texto</h2>
                <h3>link</h3>
            </div>
            <div class="item">
                <div class="miniatura">
                    <a href="">
                        <img src="{{url_for('static', filename='imgsMini/L30ATimo240X.jpg')}}" alt="" width="60%"
                            height="60%">
                    </a>
                </div>
                <h2>texto</h2>
                <h3>link</h3>
            </div>
            <div class="item">
                <div class="miniatura">
                    <a href="">
                        <img src="{{url_for('static', filename='imgsMini/L30Baco240x.jpg')}}" alt="" width="60%"
                            height="60%">
                    </a>
                </div>
                <h2>texto</h2>
                <h3>link</h3>
            </div>
            <div class="item">
                <div class="miniatura">
                    <a href="">
                        <img src="{{url_for('static', filename='imgsMini/L31AEstomagoBHE40x.jpg')}}" alt="" width="60%"
                            height="60%">
                    </a>
                </div>
                <h2>texto</h2>
                <h3>link</h3>
            </div>
            <div class="item">
                <div class="miniatura">
                    <a href="">
                        <img src="{{url_for('static', filename='imgsMini/L31EstomagoAHE40x.jpg')}}" alt="" width="60%"
                            height="60%">
                    </a>
                </div>
                <h2>texto</h2>
                <h3>link</h3>
            </div>
            <div class="item">
                <div class="miniatura">
                    <a href="">
                        <img src="{{url_for('static', filename='imgsMini/L31TransicaoEsofagoEEstomagoAHE40x.jpg')}}"
                            alt="" width="60%" height="60%">
                    </a>
                </div>
                <h2>texto</h2>
                <h3>link</h3>
            </div>
            <div class="item">
                <div class="miniatura">
                    <a href="">
                        <img src="{{url_for('static', filename='imgsMini/L32AIntestinoPorcao2e340x.jpg')}}" alt=""
                            width="60%" height="60%">
                    </a>
                </div>
                <h2>texto</h2>
                <h3>link</h3>
            </div>
            <div class="item">
                <div class="miniatura">
                    <a href="">
                        <img src="{{url_for('static', filename='imgsMini/L32AIntestinoPorcao140x.jpg')}}" alt=""
                            width="60%" height="60%">
                    </a>
                </div>
                <h2>texto</h2>
                <h3>link</h3>
            </div>
            <div class="item">
                <div class="miniatura">
                    <a href="">
                        <img src="{{url_for('static', filename='imgsMini/L32BIntestino40x.jpg')}}" alt="" width="60%"
                            height="60%">
                    </a>
                </div>
                <h2>texto</h2>
                <h3>link</h3>
            </div>
            <div class="item">
                <div class="miniatura">
                    <a href="">
                        <img src="{{url_for('static', filename='imgsMini/L35BSubmandibularHumanaL1.jpg')}}" alt=""
                            width="60%" height="60%">
                    </a>
                </div>
                <h2>texto</h2>
                <h3>link</h3>
            </div>
            <div class="item">
                <div class="miniatura">
                    <a href="">
                        <img src="{{url_for('static', filename='imgsMini/L37ARimHE.jpg')}}" alt="" width="60%"
                            height="60%">
                    </a>
                </div>
                <h2>texto</h2>
                <h3>link</h3>
            </div>
            <div class="item">
                <div class="miniatura">
                    <a href="">
                        <img src="{{url_for('static', filename='imgsMini/L37BUretraEBexigaMassonL140X.jpg')}}" alt=""
                            width="60%" height="60%">
                    </a>
                </div>
                <h2>texto</h2>
                <h3>link</h3>
            </div>
            <div class="item">
                <div class="miniatura">
                    <a href="">
                        <img src="{{url_for('static', filename='imgsMini/L37BUretraEBexigaTricromicoDeMassomL240x.jpg')}}"
                            alt="" width="60%" height="60%">
                    </a>
                </div>
                <h2>texto</h2>
                <h3>link</h3>
            </div>
            <div class="item">
                <div class="miniatura">
                    <a href="">
                        <img src="{{url_for('static', filename='imgsMini/L39TesticuloHEL3.jpg')}}" alt="" width="60%"
                            height="60%">
                    </a>
                </div>
                <h2>texto</h2>
                <h3>link</h3>
            </div>
            <div class="item">
                <div class="miniatura">
                    <a href="">
                        <img src="{{url_for('static', filename='imgsMini/L40BPancreasEmHE40x.jpg')}}" alt="" width="60%"
                            height="60%">
                    </a>
                </div>
                <h2>texto</h2>
                <h3>link</h3>
            </div>
            <div class="item">
                <div class="miniatura">
                    <a href="">
                        <img src="{{url_for('static', filename='imgsMini/L52Lingua.jpg')}}" alt="" width="60%"
                            height="60%">
                    </a>
                </div>
                <h2>texto</h2>
                <h3>link</h3>
            </div>
            <div class="item">
                <div class="miniatura">
                    <a href="">
                        <img src="{{url_for('static', filename='imgsMini/L55EsfregacoSanguineoL2.jpg')}}" alt=""
                            width="60%" height="60%">
                    </a>
                </div>
                <h2>texto</h2>
                <h3>link</h3>
            </div>
            <div class="item">
                <div class="miniatura">
                    <a href="">
                        <img src="{{url_for('static', filename='imgsMini/L55EsfregacoSanguineoL3.jpg')}}" alt=""
                            width="60%" height="60%">
                    </a>
                </div>
                <h2>texto</h2>
                <h3>link</h3>
            </div>
            <div class="item">
                <div class="miniatura">
                    <a href="">
                        <img src="{{url_for('static', filename='imgsMini/L59PalatoDeGatoHeL1.jpg')}}" alt="" width="60%"
                            height="60%">
                    </a>
                </div>
                <h2>texto</h2>
                <h3>link</h3>
            </div>


        </div>
    </section>
</div>
<!-- <script type="text/javascript"> Z.showImage("myContainer", src="{{url_for('static', filename='Images/ZoomifyImageExample3')}}", src="zSkinPath={{url_for('static', filename='Assets/Skins/Dark')}}&zAnnotationPath={{url_for('static', filename='Assets/Annotations/Advanced-WithPOIsAndNotes')}}&zMagnifierVisible=1&zMaskVisible=1"); </script> -->
<!-- <script type="text/javascript"> Z.showImage("myContainer", null, src="zNarrativePath={{url_for('static', filename='Assets/Narratives')}}&zFileHandlerPath={{url_for('static', filename='Assets/FileHandlers/files.php')}}&zAnnotationPath={{url_for('static', filename='Assets/Annotations/Narratives')}}&zSkinPath={{url_for('static', filename='Assets/Skins/Narratives')}}&zNarrativeImageFolderPath={{url_for('static', filename='Images/Narratives')}}&zRulerVisible=2&zRulerWidth=200&zNavigatorWidth=200&zCaptionBoxes=1&zMaskVisible=1&zMagnifierVisible=2"); </script>
    <div id="myContainer"></div> -->
<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ornare arcu odio ut sem nulla pharetra diam sit amet. Volutpat maecenas volutpat blandit aliquam. Nibh venenatis cras sed felis eget velit aliquet sagittis id. Ac turpis egestas sed tempus urna et pharetra pharetra massa. Tellus mauris a diam maecenas sed enim ut sem. Vitae purus faucibus ornare suspendisse sed nisi lacus sed. Turpis nunc eget lorem dolor sed. Vel fringilla est ullamcorper eget nulla facilisi. Id aliquet risus feugiat in ante. Amet est placerat in egestas. Eleifend quam adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus.</p>
    <p>Amet est placerat in egestas erat imperdiet sed euismod nisi. Lorem sed risus ultricies tristique nulla. Vitae auctor eu augue ut lectus arcu bibendum. Nunc non blandit massa enim nec. Eget nunc lobortis mattis aliquam faucibus purus. Pharetra et ultrices neque ornare aenean euismod elementum. Diam vel quam elementum pulvinar etiam non quam lacus. Ut consequat semper viverra nam. Cursus in hac habitasse platea dictumst quisque sagittis purus sit. Arcu cursus euismod quis viverra.</p>
    <p>Lacus sed turpis tincidunt id aliquet. Neque aliquam vestibulum morbi blandit cursus risus at ultrices. Dui faucibus in ornare quam. Nisi porta lorem mollis aliquam ut porttitor leo a. Purus semper eget duis at. Vel turpis nunc eget lorem dolor sed viverra. Sed risus ultricies tristique nulla aliquet enim. Diam vel quam elementum pulvinar etiam non quam. Dignissim diam quis enim lobortis scelerisque fermentum. Pharetra magna ac placerat vestibulum lectus mauris ultrices. Volutpat blandit aliquam etiam erat velit. Felis imperdiet proin fermentum leo vel orci. Dignissim sodales ut eu sem integer vitae justo eget. Faucibus ornare suspendisse sed nisi lacus sed viverra tellus in. Et pharetra pharetra massa massa ultricies mi.</p> -->
{% endblock %}