{% extends './parents/main.html' %}

{% block content %}
<h2> Olá, {{ user.__dict__['first_name'] }}! </h2>
<div class="column">
    <h3>Dados de sua conta:</h3>
    <div class="dashboard_menu">
        <div class="column">
            <form action="{{ url_for('dashboard') }}" method="POST">
                <input type="submit" name="edit_user_data" value="Editar Informações">
            </form>
        </div>
        <div class="column">
            <form action="{{ url_for('dashboard') }}" method="POST">
               <input type="submit" name="logoff" value="Logoff">
            </form><br>
        </div>
    </div>
    {% if not edit_mode %}

        {% set user_data = display_constructor(values=user.__dict__) %}
        <form action="{{ url_for('dashboard') }}">
            {{ user_data.csrf_token }}
            {{ user_data.first_name.label }}
            {{ user_data.first_name }}<br>
            {{ user_data.surname.label }}
            {{ user_data.surname }}<br>
            {{ user_data.birth_date.label }}
            {{ user_data.birth_date }}<br>
            {{ user_data.bio.label }}
            {{ user_data.bio }}<br>
        </form>
    {% else %}

        {% set user_data = display_constructor(values=user.__dict__, readonly=False) %}
        <form action="{{ url_for('dashboard') }}" method="POST">
            {{ user_data.csrf_token }}
            {{ user_data.first_name.label }}
            {{ user_data.first_name }}<br>
            {{ user_data.surname.label }}
            {{ user_data.surname }}<br>
            {{ user_data.birth_date.label }}
            {{ user_data.birth_date }}<br>
            {{ user_data.bio.label }}
            {{ user_data.bio }}<br>
            <input type="submit" value="Atualizar" name="update">
        </form>
    {% endif %}
</div>

<div class="column">
    <h3>Lâminas cadastradas:</h3>
    {% if slides |length == 0 %}
        Nenhuma lâmina cadastrada!
    {% else %}
        {% for slide in slides %}
            {% set uploaded = slides[slide]['object'].uploaded_at.__str__() %}
            <ol>Nome: {{ (slides[slide]['meta']['slide_title']) }} | enviada em: {{
                uploaded[8:10] + '/' + uploaded[5:7] + '/' + uploaded[0:4]
                }} </ol>
        {% endfor %}
    {% endif %}
    {% if render_add_form %}
        <form action="{{ url_for('dashboard') }}" method="POST" enctype="multipart/form-data">
            {{ add_slide_form.csrf_token }}
            {{ add_slide_form.name.label }}
            {{ add_slide_form.name }}<br>
            {{ add_slide_form.species.label }}
            {{ add_slide_form.species }}<br>
            {{ add_slide_form.scan_date.label }}
            {{ add_slide_form.scan_date }}<br>
            {{ add_slide_form.image_file }}
            <input type="submit" value="Enviar" name="add_slide">
        </form>
    {% else %}
        <form action="{{ url_for('dashboard') }}" method="POST">
            <input type="submit" value="Adicionar" name="add_slide">
        </form>
    {% endif %}
</div>
{% endblock %}