{% extends './parents/main.html' %}

{% block content %}

<!-- usando as funcionalidades do zoomify -->
<!-- <script type="text/javascript"> Z.showImage("myContainer", src="{{url_for('static', filename='Images/ZoomifyImageExample3')}}", src="zSkinPath={{url_for('static', filename='Assets/Skins/Dark')}}&zAnnotationPath={{url_for('static', filename='Assets/Annotations/Advanced-WithPOIsAndNotes')}}&zMagnifierVisible=1&zMaskVisible=1"); </script> -->

 <h3>Histologia de células e tecidos</h3>
            <img class="menuim" src="../static/images/skin.png" alt="Pele vetor">
            <h3>Histologia de órgãos e sistemas</h3>
            <img class="menuim" src="../static/images/body.png" alt="Corpo vetor">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ornare arcu odio ut sem nulla pharetra diam sit amet. Volutpat maecenas volutpat blandit aliquam. Nibh venenatis cras sed felis eget velit aliquet sagittis id. Ac turpis egestas sed tempus urna et pharetra pharetra massa. Tellus mauris a diam maecenas sed enim ut sem. Vitae purus faucibus ornare suspendisse sed nisi lacus sed. Turpis nunc eget lorem dolor sed. Vel fringilla est ullamcorper eget nulla facilisi. Id aliquet risus feugiat in ante. Amet est placerat in egestas. Eleifend quam adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus.</p>

            <!-- conteiner de visualização -->
            <!-- <div id="myContainer"></div> -->

            <p>Amet est placerat in egestas erat imperdiet sed euismod nisi. Lorem sed risus ultricies tristique nulla. Vitae auctor eu augue ut lectus arcu bibendum. Nunc non blandit massa enim nec. Eget nunc lobortis mattis aliquam faucibus purus. Pharetra et ultrices neque ornare aenean euismod elementum. Diam vel quam elementum pulvinar etiam non quam lacus. Ut consequat semper viverra nam. Cursus in hac habitasse platea dictumst quisque sagittis purus sit. Arcu cursus euismod quis viverra.</p>
            <p>Lacus sed turpis tincidunt id aliquet. Neque aliquam vestibulum morbi blandit cursus risus at ultrices. Dui faucibus in ornare quam. Nisi porta lorem mollis aliquam ut porttitor leo a. Purus semper eget duis at. Vel turpis nunc eget lorem dolor sed viverra. Sed risus ultricies tristique nulla aliquet enim. Diam vel quam elementum pulvinar etiam non quam. Dignissim diam quis enim lobortis scelerisque fermentum. Pharetra magna ac placerat vestibulum lectus mauris ultrices. Volutpat blandit aliquam etiam erat velit. Felis imperdiet proin fermentum leo vel orci. Dignissim sodales ut eu sem integer vitae justo eget. Faucibus ornare suspendisse sed nisi lacus sed viverra tellus in. Et pharetra pharetra massa massa ultricies mi.</p>
{% endblock %}